.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 60px 110px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 20px;
    font-size: 50px;
    font-weight: 600;
}
.contact-section{
    display: flex;
    gap: 100px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.contact-left h2{
    font-size: 40px;
    font-weight: 600;
    /* background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%); */
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 350px;
    color: #d8d8d8;
    font-size: 15px;
    line-height: 25px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #d8d8d8;
    font-size: 18px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-right label{
    color: #d8d8d8;
    font-size: 20px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 500px;
    height: 70px;
    padding-left: 10px;
    border-radius: 4px;
    background: #32323C;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}
.contact-right textarea{
    border: none;
    width: 500px;
    /* height: 70px; */
    padding: 20px;
    border-radius: 4px;
    background: #32323C;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}
.contact-submit{
    border: none;
    /* color: white; */
    border-radius: 50px;
    /* background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%); */
    font-size: 20px;
    padding: 10px 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.01);
    transition: 0.3s;
}
.contact-detail img{
    height: 25px;
    width: 25px;
}
